.thankYouContainer {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  margin: 0 auto;
  padding: 6rem 2rem 2rem 2rem; 
  background: linear-gradient(to top, #1c1f2a, #1f2a44);
  color: var(--color-sand40);
  font-family: var(--font-sans);
}

.goBackBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  z-index: 10;
}

.goBackArrow {
  margin-right: 8px;
  height: 1.2rem;
  width: 1.2rem;
}

.goBackArrow:hover {
  filter: none;
}

.thankYouWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.headerThankYou {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logo {
  height: 100px;
  filter: invert(100%);
  margin-bottom: 3rem;
  cursor: pointer;
}

.titleThankYou {
  color: var(--color-sand40);
  font-size: 4rem;
  text-align: center;
}

.progressBarSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.getDiploma {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  color: var(--color-sand40);
  max-width: 1000px;
}

.getDiploma h3 {
  padding: 1rem;
  margin: 2rem;
  line-height: 2rem;
  text-align: center;
  font-size: 1.5rem;
  font-family: var(--font-sans);
  font-weight: lighter;
}

@media (max-width: 768px) {
  .getDiploma h3 {
    padding: 1rem;
    margin: 2rem;
    line-height: 1.8rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 650px) {
  .thankYouContainer {
    padding-top: 4rem; 
  }

  .logo {
    height: 4.5rem;
  }

  .titleThankYou {
    font-size: 2.5rem;
  }

  .getDiploma h3 {
    padding: 1rem;
    margin: 2rem;
    line-height: 1.8rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 430px) {
  .thankYouContainer {
    padding-top: 3rem; 
  }

  .goBackBtn {
    top: 1rem;
    left: 0.5rem;
  }

  .goBackArrow {
    margin-right: 3px;
    height: 0.5rem;
    width: 0.5rem;
  }

  .logo {
    height: 3rem;
  }

  .titleThankYou {
    font-size: 2rem;
  }

  .getDiploma h3 {
    padding: 1rem;
    margin: 0.2rem;
    line-height: 1.4rem;
    font-size: 0.8rem;
  }
}