.footer {
  background-color: #1f2a44;
  color: #e0ddd7;
  padding: 5rem 3rem;
  font-size: 1.2rem;
  font-family: var(--font-sans);
}

.logoTitle {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 0.6rem;
  font-weight: bolder;
}

.logo {
  height: 70px;
  padding: 4px;
  margin-bottom: 2rem;
}

.title {
  font-size: 1.1rem;
  line-height: 1.25;
  white-space: pre-line;
  font-weight: bolder;
}

.navSection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 600px;
  align-items: baseline;
}

.mainLinks {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 5px;
}

.mainLinks a {
  color: var(--color-sand20);
  text-decoration: none;
  letter-spacing: 0.03em;
  transition: color 0.2s ease;
}

.mainLinks a:hover,
.mainLinks a:focus {
  outline: none;
  cursor: pointer;
  text-decoration: underline;
}

.subLinks {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  font-weight: 400;
}

.subLinks a {
  color: #e0ddd7;
  text-decoration: none;
  transition: color 0.2s ease;
}

.subLinks a:hover,
.subLinks a:focus {
  cursor: pointer;
  text-decoration: underline;
}

.contact {
  font-size: 1.1rem; 
  font-weight: 400;
  color: #e0ddd7;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.contact a {
  color: #a3b0cc;
  font-size: 1.1rem; 
  font-weight: 400;
  text-decoration: none; 
  transition: color 0.2s ease;
}

.contact a:hover,
.contact a:focus {
  text-decoration: underline; 
  outline: none;
  cursor: pointer;
}

.social {
  display: flex;
  gap: 1.2rem;
  margin-top: 0.3rem;
}