:root {
  --font-sans: Arial, sans-serif;
  --color-darkblue: #1F2A44;
  --color-dimblue: #8E9FBC;
  --color-seablue: #B9D3DC;
  --color-yellow: #e6B730;
  --color-sand: #C5B9AC;
  --color-sand40: #e7e2dd;
  --color-sand20 : #f2f0ed;
  --color-midnight : #1c1f2a;
}
.progressContainer {
  height: 6rem;
  width: 100%;
  max-width: 30rem;
  margin: 1rem auto;
  text-align: center;
}

.progressParagraph {
  margin-bottom: 1rem;
  font-style: italic;
}

.progressBackground {
  width: 100%;
  background: white;
  border-radius: 20px;
  height: 24px;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.progressFill {
  height: 100%;
  background: linear-gradient(90deg, #e6b730, #e6b730);
  width: 0;
  transition: width 1.8s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 20px;
}

.progressAmounts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progressRaised {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.progressGoal {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.percent {
  font-size: 1rem;
  color: white;
  font-weight: bold;
}

@media (max-width: 650px) {
  .progressContainer {
    height: 6rem;
    width: 100%;
    max-width: 25rem;
    margin: 1rem auto;
    text-align: center;
  }

  .progressParagraph {
    font-size: 0.9rem;
  }

  .progressBackground {
    border-radius: 20px;
    height: 24px;
  }
}

@media (max-width: 430px) {
  .progressContainer {
    height: 4rem;
    width: 100%;
    max-width: 14rem;
    margin: 0.5rem auto;
    text-align: center;
  }

  .progressParagraph {
    font-size: 0.5rem;
  }

  .progressBackground {
    border-radius: 20px;
    height: 14px;
  }
}
